@import './base.css';

#app {
  margin: 0 ;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
  @apply text-indigo-500
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
    @apply bg-indigo-500/20
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
